@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
.main {
    padding: 0px 0 100px 0;
}

.page_cover_image {
    padding: 186px 0px;
}

.page_cover_image h3 {
    font-size: 52px;
    font-weight: 700;
    color: white;
    padding: 0px 0px 0px 62px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 3px solid blue;
    border-bottom: 2px solid blue;
    font-family: 'Roboto', sans-serif;
}

.cource_tab_li {
    padding: 32px 0px 16px 0px;
    border-bottom: 4px solid transparent;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 2px 5px 3px gray;
}

.main .active {
    border-bottom: 4px solid blue;
}

.cource_p {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
}

.active .cource_p {
    color: blue;
}

.main .active span::before {
    color: blue !important;
}

.main span::before {
    font-family: Flaticon;
    font-size: 42px;
    font-style: normal;
    margin-left: 0px;
    text-align: center;
    display: block;
    color: #2878FF;
}

.main .tab_wrap {
    background: transparent;
}

.cource_title {
    font-size: 32px;
    font-weight: 500;
    color: #434343;
    padding: 20px 0px;
    font-family: 'Roboto', sans-serif;
}

.cource_subtitle_title {
    font-size: 24px;
    font-weight: 500;
    color: #434343;
    padding: 6px 0px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.main .tab_wrap ul li {
    list-style: disc;
    margin: 14px 0px 14px 0px;
    font-size: 18px;
    color: #434343;
    font-family: 'Roboto', sans-serif;
}

.main .tab_wrap p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #434343;
    line-height: 1.5;
}

.cource_thamnil_image_one {
    width: 100%;
    height: 770px;
    margin: 117px 0px 0px 0px;
}

.cource_thamnil_image_two {
    width: 100%;
    height: 770px;
    margin: 20px 0px 0px 0px;
}

.Admission_button {
    font-size: 20px;
    color: #fff;
    padding: 16px 39px;
    background-color: #2878FF;
    margin-top: 52px;
    border-radius: 30px;
    display: block;
    width: 215px;
    text-align: center;
}

@media (min-width: 100px) and (max-width: 991px) {
    .cource_thamnil_image_one {
        display: none;
    }
    .cource_thamnil_image_two {
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 575px) {
    .cource_p {
        font-size: 12px;
        line-height: 1.2;
    }
    .cource_tab_content ul {
        padding: 0px;
    }
}